.u-section-1 .u-sheet-1 {
  min-height: 931px;
}

.u-section-1 .u-checkout-1 {
  min-height: 748px;
  margin-bottom: 0;
  height: auto;
  margin-top: 0;
}

.u-section-1 .u-table-entity-1 {
  font-weight: 700;
}

.u-block-c9d2-39 {
  font-weight: 700;
}

.u-block-c9d2-40 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 400;
}

.u-section-1 .u-form-group-8 {
  margin-top: 20px;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  margin-top: 20px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -51px auto 71px 446px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-left: 246px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}